<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <link rel="stylesheet" href="/css/style.css">
    <base target="_blank">
</head>

<body>

    
    <div class="centre">

<div class="header" style="background-image: url({{ headImg }}); height: {{ headHeight }};"></div>
        <h1>{{ title }}</h1>
        <p><span>{{ date }}</span></p>
        {{ content | safe }}
    </div>

</body>
</html>
