<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <link rel="stylesheet" href="/css/style.css">
    <base target="main">
</head>
<style>
    .nav {width: 100%;}
    .tag {background-color: orange; color: black; margin-top: 10px; margin-right: 10px;}
    .progress-bar {
      width: 100%;
      height: 20px;
      background-color: white;
      margin-bottom: 10px;
    }
    .progress {
      height: 100%;
      background-color: orange;
      text-align: left;
      line-height: 20px;
      color: white;
    }
    #gameimg {
      width: 40px; height: 40px;
    }
  </style>
<body>

<img src="/images/logowhite.png" style="width: 100%;">
<div class="nav">

<ul>
    <li><a href="main.html">home</a></li>
    <li><a href="pages/links.html">links</a></li>
    <li><a href="/pages/yearinpixels.html">a pixel a day</a></li>

    <li class="tag">posts</li>
    <ul>
        {% for post in collections.post reversed %}
        <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
        {% endfor %}
    </ul>

    <li class="tag">personal</li>
    <ul>
        {% for personal in collections.personal reversed %}
        <li><a href="{{personal.url}}">{{ personal.data.title }}</a></li>
        {% endfor %}
    </ul>

    <li class="tag">projects</li>
    <ul>
        {% for projects in collections.projects reversed %}
        <li><a href="{{projects.url}}">{{ projects.data.title }}</a></li>
        {% endfor %}
    </ul>

    <li class="tag">fiction</li>
    <ul>
        <li>i expect lots of trek and asimov to go here </li>
        {% for fiction in collections.fiction reversed %}
        <li><a href="{{fiction.url}}">{{ fiction.data.title }}</a></li>
        {% endfor %}
    </ul>

    <li class="tag">rockets/starships</li>
    <ul>
        {% for starships in collections.starships reversed %}
        <li><a href="{{starships.url}}">{{ starships.data.title }}</a></li>
        {% endfor %}
    </ul>

    <li class="tag">puzzles</li>
    <ul>
        {% for puzzles in collections.puzzles reversed %}
        <li><a href="{{puzzles.url}}">{{ puzzles.data.title }}</a></li>
        {% endfor %}
    </ul>
</ul>

  

</div>

<div id="gameInfo" style="margin: 10px; padding:10px;background-color: #00000071;"></div>
<script>
    const userProfileUrl = 'https://retroachievements.org/API/API_GetUserProfile.php?u=septic&z=septic&y=gwStpkS5oWy9ykhXcP4WhuDbkIpQs3Zj';
    const gameInfoUrl = 'https://retroachievements.org/API/API_GetGameInfoAndUserProgress.php?g=';

    async function fetchData(url) {
      const response = await fetch(url);
      const data = await response.json();
      return data;
    }

    async function displayGameInfo() {
      const userProfileData = await fetchData(userProfileUrl);
      const lastGameID = userProfileData.LastGameID;
      const richPresenceMsg = userProfileData.RichPresenceMsg;

      const gameInfoData = await fetchData(`${gameInfoUrl}${lastGameID}&u=septic&z=septic&y=gwStpkS5oWy9ykhXcP4WhuDbkIpQs3Zj`);
      const gameImage = `https://retroachievements.org${gameInfoData.ImageIcon}`;
      const gameCompletion = gameInfoData.UserCompletion;
      const gameName = gameInfoData.Title;

      const gameInfoElement = document.getElementById('gameInfo');
      gameInfoElement.innerHTML = `
        <div style="display: flex;">
        <img src="${gameImage}" id="gameimg" alt="${gameName} Cover">
        
        <div style="width: 100%; margin-left: 10px">
        <span><strong>${gameName}</strong></span>
        <div class="progress-bar">
          <div class="progress" style="width: ${gameCompletion};"><span style="mix-blend-mode: difference;">${gameCompletion}</span></div>
        </div>
        </div>
        </div>
        <span style="font-size: 10px; color:white;">${richPresenceMsg}</span>
      `;
    }

    displayGameInfo();
  </script>

</body>
</html>